NEXT_PUBLIC_SITE_NAME=Rahmat OTP
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=ganti_dengan_client_key_midtrans
PAYMENT_SESSION_SECRET=ganti_dengan_secret_session_yang_stabil
AUTH_SESSION_SECRET=opsional_secret_khusus_login_akun
ADMIN_EMAIL=opsional_email_admin_utama
# POSTGRES_URL akan otomatis dibuat Vercel saat Neon Postgres dihubungkan

UPSTREAM_PROVIDER_MODE=rest
UPSTREAM_BASE_URL=https://api.kirimkode.com/v1
UPSTREAM_API_KEY=ganti_dengan_api_key_provider
UPSTREAM_API_KEY_HEADER=x-api-key
UPSTREAM_ACCOUNT_NAME=NamaAkunKirimKode
UPSTREAM_BALANCE_PATH=/balance
UPSTREAM_SERVICES_PATH=/services
UPSTREAM_HISTORY_PATH=/orders
UPSTREAM_ORDER_PATH=/order
UPSTREAM_ORDER_STATUS_PATH=/order/{id}/status
UPSTREAM_CANCEL_PATH=/order/{id}/cancel
UPSTREAM_ORDER_METHOD=POST
UPSTREAM_CANCEL_METHOD=POST
UPSTREAM_SERVER_BIMASAKTI_CODE=api1
UPSTREAM_SERVER_MARS_CODE=api2
UPSTREAM_MARKUP_PERCENT=0
UPSTREAM_MIN_MARGIN=0
UPSTREAM_CURRENCY=IDR
UPSTREAM_TIMEOUT_MS=15000

MIDTRANS_ENVIRONMENT=production
MIDTRANS_SERVER_KEY=ganti_dengan_server_key_midtrans
MIDTRANS_QRIS_FEE_PERCENT=0.7
MIDTRANS_QRIS_FEE_FLAT=0
MIDTRANS_QRIS_EXPIRY_MINUTES=15
